@using Milou.Deployer.Web.Core.Deployment
@model Milou.Deployer.Web.IisHost.Areas.Deployment.ViewOutputModels.DeploymentViewOutputModel

<p>
    <a href="~/Deployment/InvalidateCache">Töm cache</a>
</p>

<form method="POST" action="~/Deploy">

    <div>

        <label for="packageVersion">Package</label>

        <select name="packageVersion" id="packageVersion">

            @foreach (PackageVersion item in Model.PackageVersions)
            {
                <option value="@item.PackageId @item.Version.ToNormalizedString()">@item.PackageId @item.Version.ToNormalizedString()</option>
            }
        </select>

    </div>
    <div>
        <label for="target">Target</label>
        <select name="targetId" id="target">

            @foreach (var item in Model.Targets)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>

    </div>
    <div>
        <input type="submit" value="Deploy" class="deploy-button"/>
    </div>


</form>