@using Milou.Deployer.Web.Core.Configuration
@using Milou.Deployer.Web.IisHost.Areas.Settings.Controllers
@model Milou.Deployer.Web.IisHost.Areas.Settings.SettingsViewModel

<h2>Target read service: @Model.TargetReadService</h2>

<ul>
    <li>
        <a href="/deployment/invalidate">Invalidate package cache</a>
    </li>
</ul>

<h2>Routes</h2>

<table>
    <thead>
    <tr>
        <th>Route</th>
        <th>Name</th>
        <th>Defined in type</th>
        <th>Used in controller</th>
    </tr>
    </thead>
    <tbody>
    @foreach (ControllerRouteInfo item in Model.Routes)
    {
        <tr>
            <td>
                @if (item.Route.IsLinkable() && !string.IsNullOrWhiteSpace(Url.RouteUrl(item.Route.Name)))
                {
                    <a href="@Url.RouteUrl(item.Route.Name)">@item.Route.Value</a>
                }
                else
                {
                    @Url.RouteUrl(item.Route.Name)
                }
            </td>
            <td>@item.Route.Name</td>
            <td>@item.Route.Type</td>
            <td>@item.ControllerType</td>
        </tr>
    }
    </tbody>
</table>

<h2>Configuration info</h2>

<div>
@Model.ConfigurationInfo.ConfigurationSourceChain
</div>

<table>
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Source</th>
    </tr>
    </thead>
    <tbody>
    @foreach (ConfigurationKeyInfo item in Model.ConfigurationInfo.Keys)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
            <td>@item.Source</td>
        </tr>
    }
    </tbody>
</table>

<h2>Container registrations</h2>

<table>
    <thead>
    <tr>
        <th>Service</th>
        <th>Scope</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ContainerRegistrations)
    {
        <tr>
            <td>@item.Service</td>
            <td>@item.Scope</td>
        </tr>
    }
    </tbody>
</table>